<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="wheel_separation" value="${2*0.022}"/>
    <xacro:property name="wheel_diameter" value="0.05"/>
    <xacro:property name="max_wheel_torque" value="20"/>
    <xacro:property name="max_wheel_accel" value="1.0"/>

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">   <!--precompiled shared library-->
            <left_joint>wheel_joint_left</left_joint>
            <right_joint>wheel_joint_right</right_joint>

            <wheel_separation>${wheel_separation}</wheel_separation>
            <wheel_diameter>${wheel_diameter}</wheel_diameter>

            <max_wheel_torque>${max_wheel_torque}</max_wheel_torque>
            <max_wheel_acceleration>${max_wheel_accel}</max_wheel_acceleration>

            <publish_odom>false</publish_odom>
            <publish_odom_tf>false</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>

            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <update_rate>50</update_rate>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
        </plugin>
    </gazebo>
</robot>
